<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <div>
        <!-- Додайте таблицю продуктів -->
        @Html.Raw(ViewBag.ProductsTableHtml)
    </div>

    <div>
        <!-- Додайте інформацію про погоду -->
        @Html.Raw(ViewBag.WeatherInfo)
    </div>
</body>
</html>
